#content{
	width:900px;
	margin:0 auto;
}
#sider{
	width: 270px;
    line-height: 1.8em;
    borderï¼š1px solide #ccc;
    border-radius: 1px;
}
#main-col{
	width: 900px;
}
.alignleft{
	float:left;
}
.alignright{
	float:right;
}

.clearfix{
	zoom:1;
}
.clearfix:after{
	clear:both;
}
.clearfix:before,.clearfix:after{
	content:'';
	display: table;
}
